*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(1, 1, 31) !important;
}
.navbar{
  background-color: rgb(1, 1, 31) !important;
  padding: 1rem;
  box-shadow:1px -1px 15px 0px rgb(250 190 59);;
  
}
.header-container{
  padding: 1rem;
  background-color:  rgb(1, 1, 31) !important;
 
}

.mypic{
  
  width: 300px;
  height: 300px;
  margin-top: 4rem;
  margin-left: 3rem;
 padding: 20px;
 border-radius: 50%;
 box-shadow: 0px -5px 20px 9px #5758f8;
}
.head-text{

  margin-top: 8%;
  padding: 20px;
  color: rgb(250, 190, 59);
}
.head-text h1{
 font-size: 5rem;
 background: linear-gradient(to right, #30CFD0 0%, #8704c8 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.head-text p{
 font-size: 1.5rem;
}
.skill{
  /* background: linear-gradient(to right, #30CFD0 50%, #8704c8 100%);
  margin-top:50%; */
 padding: 3rem;
 border-radius: 20px;
}
.skill h1{
  text-align: center;
  color: rgb(250, 190, 59);
}
.skill .icons img{
  padding: 15px;
 width: 100px;
 height: 100px;
 box-shadow: -1px -1px 3px 5px #410069;
 border-radius: 50%;
 margin: 20px;

}
.project-container{
 background-color:#30CFD0 ;
}
.project-container h1{
 color:rgb(1, 1, 31);
 text-align: center;
}
.project .card{
  margin: 20px;
}
.certi{
  text-align: center;
  width:30%;
  height: 20%;
  padding: 30px;
  
}